/*!
Typeplate : Starter Kit
URL ........... http://typeplate.com
Version ....... 3.0.2
Github ........ https://github.com/typeplate/starter-kit
Authors ....... Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
License ....... Creative Commmons Attribution 3.0
License URL ... https://github.com/typeplate/starter-kit/blob/master/license.txt
*/

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;

}


body {
  word-wrap: break-word;
}

html {
  font: normal 112.5% / 1.65 serif;
}

body {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  color: #444;
}

h1 {
  font-size: 4em;
  margin-bottom: 2.42424rem;
}

h2 {
  font-size: 3.33333em;
  margin-bottom: 2.0202rem;
}

h3 {
  font-size: 2.66667em;
  margin-bottom: 1.61616rem;
}

h4 {
  font-size: 2em;
  margin-bottom: 1.21212rem;
}

h5 {
  font-size: 1.33333em;
  margin-bottom: 0.80808rem;
}


h6 {
  font-size: 1em;
  margin-bottom: 0.60606rem;
}

p {
  margin: auto auto 1.5rem;
}

p + p {
  margin-top: -1.5rem;
}


