.title-font {
	font-family: $title-font;
}

.primary-color {
	color: $primary-color;
}

.secondary-color {
	color: $secondary-color;
}

.title-spacing {
	font-size: 4.7em;
	margin-bottom: 0;
	line-height: .8
}

.subtitle-spacing {
	margin-bottom: .1em;
}