.title-font {
	font-family: $title-font;
}

.primary-color {
	color: $primary-color;
}

.secondary-color {
	color: $secondary-color;
}

.title-spacing {
	margin-bottom: .05em;
	line-height: .8;
}

.margin-bottom-low, .margin-bottom-low p {
	margin-bottom: .1em;
}

.text-align-right {
	text-align: right;
}

.margin-top-big {
	margin-top: 2.5em;
	margin-bottom: 0;
}

.margin-bottom-medium p {
	margin-bottom: .2em;
}

.background-primary {
	background-color: $primary-color;
}

.background-secondary {
	background-color: $secondary-color;
}


.text-white {
	color: #fff;
}

.margin-negative {
	margin: -.17em 0 0 -.07em;
}

.img-100-round {
	display: block;
	width: 60%;
	border-radius: 50%;
	border: 7px solid white;
	margin: .5em 20% auto 30%;
}

.img-100-percent {
	display: block;
	width: 100%;
}

.hero {
	width: 100%;
}
