.title-font {
	font-family: $title-font;
}

.primary-color {
	color: $primary-color;
}

.secondary-color {
	color: $secondary-color;
}

.title-spacing {
	font-size: 4.7em;
	margin-bottom: 0;
	line-height: .8
}

.margin-bottom-low, .margin-bottom-low p {
	margin-bottom: .1em;
}

.text-align-right {
	text-align: right;
}

.margin-top-big {
	margin-top: 2.35em;
	margin-bottom: 0;
}

.margin-bottom-medium p {
	margin-bottom: .4em;
}

