// Variables etc

$title-font:  "Raleway", sans-serif, !default;
$header-font: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$body-font: "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$primary-color: #2b6dc9;
$secondary-color: #597450;
$tertiary-color: red;