// Variables etc
$header-font: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$body-font: "Open Sans", sans-serif;


$primary-color: #2b6dc9;
$secondary-color: #2c5d1b;
$tertiary-color: red;