// Variables etc

$header-font: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$body-font: "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$primary-color: black;
$secondary-color: blue;
$tertiary-color: red;