<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  
</head>


<header>
  <div class="section group">
    <div class="col span_8_of_12">
      <h1 class="primary-color title-spacing">Verner's</h1>
      <h4 class="primary-color margin-bottom-low"> Automotive Services</h4>
      <h5 class="secondary-color margin-bottom-low">Audi & Volkswagen Specialist</h5>
    </div>

    <div class="col span_4_of_12">
      <h6 class="secondary-color margin-top-big text-align-right">
        <div class="margin-bottom-medium">
          {% for post in site.categories.phone %}
                {{ post.content }}
          {% endfor %}
        </div>
        <div class="margin-bottom-medium">
           {% for post in site.categories.email %}
                {{ post.content }}
          {% endfor %}
        </div>
        <div class="margin-bottom-low">
           {% for post in site.categories.address %}
                {{ post.content }}
          {% endfor %}
        </div>
      </h6>
    </div>

        
  </div>
</header>

<img class="hero" src="/assets/hero.jpg">

<main>

    <div class="section group">
      <div class="col span_1_of_12"></div>
      <div class="col span_10_of_12">
          {% for post in site.categories.intro %}
            {{ post.content }}
          {% endfor %}
      </div>
    </div>


    {% for post in site.categories.bro %}
          {{ post.title }}
          {{ post.content }}

    {% endfor %}

        {% for post in site.categories.chilling %}

          {{ post.content }}

    {% endfor %}



</main>



</html>