<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  
</head>


<header>
  <div class=" center-width">
  <div class="section group">
    <div class="col span_8_of_12">
      <h1 class="primary-color title-spacing">Verner's</h1>
      <h5 class="primary-color margin-bottom-low"> Automotive Services</h5>
      <h6 class="secondary-color margin-bottom-low">Volkswagen & Audi Specialist</h6>
    </div>

    <div class="col span_4_of_12">
      <h6 class="secondary-color margin-top-big text-align-right">
        <div class="margin-bottom-low">
          {% for post in site.categories.phone %}
                {{ post.content }}
          {% endfor %}
        </div>
        <div class="margin-bottom-low">
           {% for post in site.categories.email %}
                {{ post.content }}
          {% endfor %}
        </div>
        <div class="margin-bottom-low">
           {% for post in site.categories.address %}
                {{ post.content }}
          {% endfor %}
        </div>
      </h6>
    </div>

        
  </div>
  </div>
  <img class="hero" src="/assets/hero3.jpg">
</header>



<main>
    <div class="center-width">
    <div class="section group">
      <div class="col span_2_of_12"></div>
      <div class="col span_8_of_12">
          {% for post in site.categories.intro %}
            {{ post.content }}
          {% endfor %}
      </div>
      <div class="col span_2_of_12"></div>
    </div>
    </div>
        
  <div class="center-width-background">
    <div class="center-width text-white">
        <div class="section group">
      
      <div class="col span_12_of_12">
        <h4 class="margin-negative">Reviews</h4>
      </div>
    </div>

    <div class="section group">

      <div class="col span_3_of_12">
        <img class="img-100-round" src="/assets/review1.jpg">
      </div>
      <div class="col span_8_of_12">
        {% for post in site.categories.review1 %}
          {{ post.content }}
        {% endfor %}
      </div>
      <div class="col span_1_of_12"></div>
    </div>

    <div class="section group">

      <div class="col span_3_of_12">
      <img class="img-100-round" src="/assets/review2.jpg">
      </div>
      <div class="col span_8_of_12">
    {% for post in site.categories.review2 %}
          {{ post.content }}
    {% endfor %}
      </div>
      <div class="col span_1_of_12"></div>
    </div>


    <div class="section group">

      <div class="col span_3_of_12">
      <img class="img-100-round" src="/assets/review3.jpg">
      </div>
      <div class="col span_8_of_12">
    {% for post in site.categories.review3 %}
          {{ post.content }}
    {% endfor %}
      </div>
      <div class="col span_1_of_12"></div>
    </div>
  </div>
  </div>
        <div class="section group">
      <div class="col span_2_of_12"></div>
      <div class="col span_8_of_12">
          {% for post in site.categories.text2 %}
            {{ post.content }}
          {% endfor %}
      </div>
      <div class="col span_2_of_12"></div>
    </div>

    <div class="section group">
      <div class="col span_2_of_12"></div>
      <div class="col span_8_of_12">
          <img class="img-100-percent" src="/assets/staff.jpg">
      </div>
      <div class="col span_2_of_12"></div>
    </div>

      <div class="center-width-background">
    <div class="center-width text-white">

    <div class="section group">
    <div class="col span_2_of_12"></div>
    <div class="col span_1_of_12">
      <img class="img-100-percent" src="/assets/recycle.svg">
    </div>
      <div class="col span_7_of_12">
        {% for post in site.categories.environment %}
          {{ post.content }}
        {% endfor %}
      </div>
      <div class="col span_1_of_12"></div>
    </div>
    </div>
    </div>

    <div class="section group">
    <div class="col span_4_of_12">
      <img class="img-100-percent" src="/assets/verner.jpg">
    </div>
      <div class="col span_7_of_12">
        {% for post in site.categories.bio %}
          {{ post.content }}
        {% endfor %}
      </div>
      <div class="col span_1_of_12"></div>
    </div>

</main>

<footer>
      <div class="section group">
      <div class="col span_2_of_12"></div>
      <div class="col span_8_of_12">
          {% for post in site.categories.footer %}
            {{ post.content }}
          {% endfor %}
      </div>
      <div class="col span_2_of_12"></div>
    </div>

</footer>



</html>