<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">


<!--header-->
<header>
  <div class="center-width">
    <div class="section group">
      <div class="col span_8_of_12">
        <h1 class="primary-color title-spacing">Verner's</h1>
        <h5 class="primary-color margin-bottom-low"> Automotive Services</h5>
        <h6 class="secondary-color margin-bottom-low">Volkswagen & Audi Specialist</h6>
      </div>
      <div class="col span_4_of_12">
        <h6 class="secondary-color margin-top-big text-align-right">
          <div class="margin-bottom-low">
            {% for post in site.categories.phone %}
              {{ post.content | remove: '<p>' | remove: '</p>'  }}
            {% endfor %}
          </div>
          <div class="margin-bottom-low">
            {% for post in site.categories.email %}
              {{ post.content | remove: '<p>' | remove: '</p>'  }}
            {% endfor %}
          </div>
          <div class="margin-bottom-low">
            {% for post in site.categories.address %}
              {{ post.content | remove: '<p>' | remove: '</p>'  }}
            {% endfor %}
          </div>
          <div class="margin-bottom-low">
            {% for post in site.categories.hours %}
              {{ post.content | remove: '<p>' | remove: '</p>'  }}
            {% endfor %}
          </div>          
        </h6>
      </div>
    </div>
  </div>
  <img class="hero" src="/assets/hero3.jpg">
</header>


<main>

  <!--intro text section -->
  <div class="center-width section-spacer">
    <div class="section group">
      <div class="col span_2_of_12"></div>
      <div class="col span_8_of_12">
        {% for post in site.categories.intro %}
          {{ post.content }}
        {% endfor %}
      </div>
      <div class="col span_2_of_12"></div>
    </div>
  </div>

  <!--reviews section -->
  <div class="center-width text-primary section-spacer">
    <div class="section group">
      <div class="col span_12_of_12 no-margin-bottom">
        <h4 class="no-margin-bottom line-height-point7">Reviews</h4>
      </div>
    </div>
  </div>
  <div class="center-width background-primary text-white">
    <div class="section group border-bottom-white padding-top-bottom">
      <div class="col span_3_of_12">
        <img class="img-round img-margin-left" src="/assets/review-leslie.jpg">
      </div>
      <div class="col span_8_of_12 padding-sides">
        {% for post in site.categories.review-leslie %}
          {{ post.content }}
        {% endfor %}
      </div>
    </div>
    <div class="section group border-bottom-white padding-top-bottom hide-desktop">
      <div class="col span_3_of_12">
        <img class="img-round img-margin-left" src="/assets/review-daniel.jpg">
      </div>
      <div class="col span_8_of_12 padding-sides">
        {% for post in site.categories.review-daniel %}
          {{ post.content }}
        {% endfor %}
      </div>
    </div>
    <div class="section group border-bottom-white padding-top-bottom padding-left hide-mobile">
      <div class="col span_8_of_12 padding-sides">
        {% for post in site.categories.review-daniel %}
          {{ post.content }}
        {% endfor %}
      </div>
      <div class="col span_3_of_12">
        <img class="img-round" src="/assets/review-daniel.jpg">
      </div>
    </div>
    <div class="section group padding-top-bottom">
      <div class="col span_3_of_12">
        <img class="img-round img-margin-left" src="/assets/review-josie.jpg">
      </div>
      <div class="col span_8_of_12 padding-sides">
        {% for post in site.categories.review-josie %}
          {{ post.content }}
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- team section -->
  <div class="center-width section-spacer">
    <div class="section group">
      <div class="col span_2_of_12"></div>
      <div class="col span_8_of_12">
        <img class="img-100-percent" src="/assets/staff.jpg">
        <h4 class="margin-top-negative text-white">Team</h4>
      </div>
      <div class="col span_2_of_12"></div>
    </div>
    <div class="section group">
      <div class="col span_2_of_12"></div>
      <div class="col span_8_of_12">
        {% for post in site.categories.team %}
          {{ post.content }}
        {% endfor %}
      </div>
      <div class="col span_2_of_12"></div>
    </div>
  </div>

  <!-- environmentsl section -->
    <div class="center-width background-secondary text-white padding-top-bottom-mobile section-spacer">
      <div class="section group">
        <div class="col span_3_of_12">
          <img class="img-percent" src="/assets/recycle.svg">
        </div>
        <div class="col span_8_of_12 margin-top-sm">
          {% for post in site.categories.environment %}
            {{ post.content }}
          {% endfor %}
        </div>
      </div>
    </div>

  <!-- bio section -->
  <div class="center-width section-spacer"> 
    <div class="section group">
      <div class="col span_1_of_12"></div>
      <div class="col span_4_of_12">
        <img class="img-100-percent" src="/assets/verner.jpg">
      </div>
      <div class="col span_6_of_12">
        {% for post in site.categories.bio %}
          {{ post.content }}
        {% endfor %}
      </div>
      <div class="col span_1_of_12"></div>
    </div>
  </div>
</main>

<!-- footer -->
<footer>
  <div class="center-width section-spacer background-primary text-white padding-bottom"> 
    <div class="section group">
      <div class="col span_2_of_12"></div>
      <div class="col span_8_of_12">
        {% for post in site.categories.footer %}
          {{ post.content }}
        {% endfor %}
      </div>
      <div class="col span_2_of_12"></div>
    </div>
  </div>
</footer>

</html>